.img-perfil{ width: 10em; }
.flex-align{
    display: flex;
    height: 100%;
    align-items: center;
}
.img_menu{
    width: 1.5em;
    margin-left: 1em;
    margin-right: 1em;;
}
.bg_one{
    background: url("imgs/bg7.jpg") center; 
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}
.skills{
    margin-bottom: 1em;
}
.img_skill{
    height: 60px;
}
.sociais{
    align-content: flex-start; margin: 2px;
}
.teste{
    background-color:#ecedf1;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.7));
}
i.fab {
    color: black;
}